@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

html{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background: linear-gradient(hsl(0,0,70%),hsl(300, 100%, 50%)) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}